{% extends "base.html" %}
{% block content %}




<h1>Profile!</h1>
  {{user.username}}
  {{user.first_name}}
  {{user.last_name}}
  {{user.email}}
{% if profile_packages%}
<ol>
  {% for package in profile_packages %}
  {% if package.sender_id == user.username %}

  <li>pack info</li>
  <ul>
    <li>sender: {{package.sender_id}} </li>
    <li>deliverer: {{package.driver_id}}</li>
    <li>description: {{package.description}}</li>
    <li>date: {{package.date_start_of_delivery}} </li>
    <li>opinion: {{package.opinion}}</li>
  </ul>
{% endif %}
  {% endfor %}
</ol>

{% endif %}


{% endblock %}
